openapi: 3.0.0
info:
  title: Projects
  version: '0.1'
  contact:
    name: 4uth API Team
    email: apis@4uth.net
  description: Create and manage Projects within your 4uth console
servers:
  - url: 'http://eu.api.4uth.net/console/v1'
    description: For accounts with data residency in the EU
  - url: 'http://us.api.4uth.net/console/v1'
    description: For accounts with data residency in the US
  - url: 'http://localhost:3000/console/v1'
    description: For local development
tags:
  - name: project
    description: Relating to a project.
  - name: console
    description: 4uth Console resource management
paths:
  '/projects/{project_id}':
    parameters:
      - name: project_id
        description: The ID of the Project
        schema:
          type: string
        in: path
        required: true
    get:
      summary: Retrieve Project
      operationId: get-project
      tags:
        - project
        - console
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: ./models/Project.v1.yaml
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: ../../common/models/ProblemDetailsBase.v1.yaml
      description: Get a Project identified by `project_id`.
    delete:
      summary: ''
      operationId: delete-projects
      responses:
        '204':
          description: No Content
          headers: {}
      description: Delete the Project from the projects collection identified by `project_id`
      parameters: []
      tags:
        - project
        - console
  /projects:
    post:
      summary: Create a Project
      description: Create a Project
      operationId: create-project
      tags:
        - project
        - console
      responses:
        '201':
          description: Created
          content:
            application/hal+json:
              schema:
                $ref: ./models/Project.v1.yaml
              examples:
                basic:
                  value:
                    project_id: 523
                    name: My test project
                    created_at: '2020-06-01T16:43:30+00:00'
                    updated_at: '2020-06-01T16:43:30+00:00'
                    _links:
                      self: /projects/523
                    credentials: []
                    capabilities: []
      requestBody:
        description: A JSON payload for the Project that is to be created.
        content:
          application/json:
            schema:
              $ref: ./models/ProjectCreatePayload.v1.yaml
            examples:
              basic:
                value:
                  name: My test project
                  authentication: []
                  capabilities: []
    get:
      summary: Retrieve a collection of projects
      operationId: get-projects
      description: Get a full list of Projects or filter by query parameter.
      tags:
        - project
        - console
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: ./models/ProjectCollection.v1.yaml

              examples:
                basic:
                  value:
                    page_size: 10
                    page_number: 1
                    total_pages: 1
                    total_items: 2
                    _embedded:
                      projects:
                        - _links:
                            self:
                              href: /projects/c69bc0e6-a429-11ea-bb37-0242ac130002
                          project_id: c69bc0e6-a429-11ea-bb37-0242ac130002
                          name: My first project
                          created_at: '2020-06-01T16:43:30+00:00'
                          updated_at: '2020-06-01T16:43:30+00:00'
                          credentials: []
                          capabilities: []
                        - _links:
                            self:
                              href: /projects/c69bc0e6-a429-11ea-bb37-0242ac130003
                          project_id: c69bc0e6-a429-11ea-bb37-0242ac130003
                          name: My second project
                          created_at: '2020-06-01T16:43:30+00:00'
                          updated_at: '2020-06-01T16:43:30+00:00'
                          credentials: []
                          capabilities: []
                    _links:
                      first:
                        href: '/projects/page=1&page_size=10'
                      last:
                        href: '/projects/page=1&page_size=10'
                      next:
                        href: null
                      previous:
                        href: null
                      self:
                        href: /projects?page_size=10
      parameters:
        - schema:
            type: string
            example: hello
          in: query
          name: name
          description: The name of the project
        - schema:
            type: integer
            example: 1
            default: 1
            minimum: 1
          in: query
          name: page
          description: A page number for the query. Pages being at one (1) and are not a zero-based index.
        - schema:
            type: integer
            example: 10
            default: 10
            minimum: 1
            maximum: 100
          in: query
          name: page_size
          description: The number of items to be returned for the requested `page`.
