openapi: 3.0.0
info:
  title: Phone Check
  version: '1.0'
  contact:
    name: 4Auth API Team
    email: apis@4auth.io
  description: Phone Check endpoints
servers:
  - url: 'https://eu.api.4auth.io/phone_check/v0.1'
    description: For accounts with data residency in the EU
  - url: 'https://us.api.4auth.net/phone_check/v0.1'
    description: For accounts with data residency in the US
  - url: 'http://localhost:4010/phone_check/v0.1'
    description: For local development
tags:
  - name: phone_check
    description: Relating to Phone Check

paths:
  '/checks':
    post:
      summary: Create a Phone Check workflow
      description: >
        Starts the Phone Check workflow.
      operationId: create-phone-check
      tags:
        - phone_check
      requestBody:
        description: JSON payload to create a Phone Check
        content:
          application/json:
            schema:
              type: object
              properties:
                phone_number:
                  description: The phone number to be checked
                  type: string
                  example: '447700900000'
                  format: E.164
                reference_id:
                  description: A field that you can use to track the check request against your own internal reference.
                  type: string
                  example: my_internal_reference
                redirect_url:
                  description: A URL that the client will be redirected to after navigating to the `check_url`
                  type: string
                  format: uri
              required:
                - phone_number
              example:
                phone_number: '447700900000'
                reference_id: 'my_internal_reference'
                redirect_url: 'https://example.com/phone_check_url_complete'
      responses:
        '201':
          description: Phone Check created
          headers:
            X-RateLimit-Limit:
              $ref: '../common/Headers.v1.yaml#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '../common/Headers.v1.yaml#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '../common/Headers.v1.yaml#/components/headers/Access-Control-Allow-Origin-All'
          content:
            application/hal+json:
              schema:
                allOf:
                  - $ref: ./PhoneCheckResourceModels.v1.yaml#/components/schemas/PhoneCheck
                  - type: object
                    properties:
                      # Override since creating a Phone Check only supports NEW
                      status:
                        description: The current status of the Phone Check
                        type: string
                        enum:
                          - NEW
                        example: NEW

                      # Only valid on Phone Check creation
                      snapshot_balance:
                        description: >
                          The workspace balance in `charge_currency` taking into account the `charge_amount`.
                          This property is not persisted and is only returned when the Phone Check is initially created.
                        type: number
                        example: 100
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                oneOf:
                  - $ref: '../common/HTTPProblemDetailTypes.v1.yaml#/components/responses/InvalidPhoneNumberFormat'
                  - type: object
                    allOf:
                      - $ref: '../common/HTTPProblemDetailTypes.v1.yaml#/components/responses/ProblemDetailsBase'
                      - type: object
                        description: The country for the supplied `phone_number` is not supported

    get:
      summary: Retrieve a collection of Phone Checks
      operationId: get-phone-checks
      description: Get a full list of Phone Checks or filter by query parameter.
      tags:
        - phone_check
      parameters:
        - $ref: '../common/PageBasedPagination.v1.yaml#/components/parameters/pageSize'
        - $ref: '../common/PageBasedPagination.v1.yaml#/components/parameters/pageNumber'
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '../common/Headers.v1.yaml#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '../common/Headers.v1.yaml#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '../common/Headers.v1.yaml#/components/headers/Access-Control-Allow-Origin-All'
          content:
            application/hal+json:
              schema:
                $ref: ./PhoneCheckResourceModels.v1.yaml#/components/schemas/PhoneCheckCollection

  '/checks/{check_id}':
    parameters:
      - name: check_id
        description: The ID of the Phone Check
        schema:
          $ref: '../common/DataTypes.v1.yaml#/components/schemas/UUID'
        in: path
        required: true
    get:
      summary: Retrieve Phone Check
      description: Get a Phone Check identified by `check_id`.
      operationId: get-phone-check
      tags:
        - phone_check
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: ./PhoneCheckResourceModels.v1.yaml#/components/schemas/PhoneCheck
          headers:
            X-RateLimit-Limit:
              $ref: '../common/Headers.v1.yaml#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '../common/Headers.v1.yaml#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '../common/Headers.v1.yaml#/components/headers/Access-Control-Allow-Origin-All'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '../common/HTTPProblemDetailTypes.v1.yaml#/components/responses/NotFound'
