openapi: 3.0.0
info:
  title: Console related resources
  version: '0.1'
  contact:
    name: 4Auth API Team
    email: apis@4auth.io
  description: Create and manage Projects and retrieve Workspace information related to your 4Auth console
servers:
  - url: 'http://eu.api.4auth.io/console/v0.1'
    description: For accounts with data residency in the EU
  - url: 'http://us.api.4auth.io/console/v0.1'
    description: For accounts with data residency in the US
  - url: 'http://localhost:4010/console/v0.1'
    description: For local development
tags:
  - name: console
    description: Relating to a console.
  - name: project
    description: Relating to a project.
  - name: workspace
    description: Relating to a workspace.

paths:
  ##############
  # Projects
  ##############
  '/projects/{project_id}':
    parameters:
      - name: project_id
        description: The ID of the Project
        schema:
          $ref: '../common/DataTypes.v1.yaml#/components/schemas/UUID'
        in: path
        required: true
    get:
      summary: Retrieve Project
      description: Get a Project identified by `project_id`.
      operationId: get-project
      tags:
        - project
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: ./ProjectResourceModels.v1.yaml#/components/schemas/ProjectPartial
          headers:
            X-RateLimit-Limit:
              $ref: '../common/Headers.v1.yaml#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '../common/Headers.v1.yaml#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '../common/Headers.v1.yaml#/components/headers/Access-Control-Allow-Origin-All'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '../common/HTTPProblemDetailTypes.v1.yaml#/components/schemas/NotFound'
      
      parameters: []

    # Delete not supported in current version
    # delete:
    #   summary: 'Delete a Project'
    #   description: Delete the Project from the projects collection identified by `project_id`
    #   operationId: delete-projects
    #   responses:
    #     '204':
    #       description: No Content
    #       headers:
    #         X-RateLimit-Limit:
    #           $ref: '#/components/headers/X-RateLimit-Limit'
    #         X-RateLimit-Remaining:
    #           $ref: '#/components/headers/X-RateLimit-Remaining'
    #         Access-Control-Allow-Origin:
    #           $ref: '#/components/headers/Access-Control-Allow-Origin-All'      
    #   parameters: []
    #   tags:
    #     - project

  '/projects':
    post:
      summary: Create a Project
      description: Create a Project
      operationId: create-project
      tags:
        - project
      responses:
        '201':
          description: Created
          headers:
            X-RateLimit-Limit:
              $ref: '../common/Headers.v1.yaml#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '../common/Headers.v1.yaml#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '../common/Headers.v1.yaml#/components/headers/Access-Control-Allow-Origin-All'
          content:
            application/hal+json:
              schema:
                $ref: ./ProjectResourceModels.v1.yaml#/components/schemas/ProjectFull
              examples:
                basic:
                  value:
                    project_id: c69bc0e6-a429-11ea-bb37-0242ac130003
                    name: My test project
                    created_at: '2020-06-01T16:43:30+00:00'
                    updated_at: '2020-06-01T16:43:30+00:00'
                    _links:
                      self:
                        href: /projects/c69bc0e6-a429-11ea-bb37-0242ac130003
                    credentials:
                      - client_id: 6779ef20e75817b79602
                      - client_secret: dzi1v4osLNr5vv0.2mnvcKM37.
                      - created_at: '2020-06-01T16:43:30+00:00'
      requestBody:
        description: A JSON payload for the Project that is to be created.
        content:
          application/json:
            schema:
              $ref: ./ProjectResourceModels.v1.yaml#/components/schemas/CreateProjectPayload
            examples:
              basic:
                value:
                  name: My test project

    get:
      summary: Retrieve a collection of projects
      operationId: get-projects
      description: Get a full list of Projects or filter by query parameter.
      tags:
        - project
      parameters:
        - name: name
          description: The name of the project
          schema:
            type: string
            example: hello
          in: query
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageNumber'
        # Sorting not supported in the current version
        #- $ref: '#/components/parameters/sortBy' `name` is the only input parameter so has to be sorted by name for now
        # - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '../common/Headers.v1.yaml#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '../common/Headers.v1.yaml#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '../common/Headers.v1.yaml#/components/headers/Access-Control-Allow-Origin-All'
          content:
            application/hal+json:
              schema:
                $ref: ./ProjectResourceModels.v1.yaml#/components/schemas/ProjectCollection
              examples:
                basic:
                  value:
                    page_size: 10
                    page_number: 1
                    total_pages: 1
                    total_items: 2
                    _embedded:
                      projects:
                        - _links:
                            self:
                              href: /projects/c69bc0e6-a429-11ea-bb37-0242ac130002
                          project_id: c69bc0e6-a429-11ea-bb37-0242ac130002
                          name: My first project
                          created_at: '2020-06-01T16:43:30+00:00'
                          updated_at: '2020-06-01T16:43:30+00:00'
                        - _links:
                            self:
                              href: /projects/c69bc0e6-a429-11ea-bb37-0242ac130003
                          project_id: c69bc0e6-a429-11ea-bb37-0242ac130003
                          name: My second project
                          created_at: '2020-06-01T16:43:30+00:00'
                          updated_at: '2020-06-01T16:43:30+00:00'
                    _links:
                      first:
                        href: '/projects/page=1&page_size=10'
                      last:
                        href: '/projects/page=1&page_size=10'
                      next:
                        href: null
                      prev:
                        href: null
                      self:
                        href: /projects?page_size=10
  ##############
  # Workspaces
  ##############
  '/workspaces/default':
    get:
      summary: Get the default workspace for the current user
      description: Gets the default workspace for the current user as identified by the owner of the access token used with the resource
      operationId: get-workspaces-default
      tags:
        - workspace
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '../common/Headers.v1.yaml#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '../common/Headers.v1.yaml#/components/headers/X-RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: '../common/Headers.v1.yaml#/components/headers/Access-Control-Allow-Origin-All'
          content:
            application/hal+json:
              schema:
                type: object
                properties:
                  data_residency:
                    type: string
                    enum:
                      - EU
                    description: >
                      Where the data related to the workspace is be stored.
                      - `EU`: Europe
                  created_at:
                    $ref: ../common/DataTypes.v1.yaml#/components/schemas/ISODateTime
                  _embedded:
                    description: Resources related to the Workspace
                    type: object
                    properties:
                      balance:
                        description: The balance associated with the workspace
                        type: object
                        properties:
                          currency:
                            description: The currency for the workspace
                            type: string
                            enum:
                              - 'API' # API credits
                          amount_available:
                            description: The amount in `currency` that is available for the workspace. This does not include any value indicated in `credit_limit`.
                            type: integer
                          amount_reserved:
                            description: The amount in `currency` that has been reserved due to pending operations
                            type: integer
                          credit_limit:
                            description: The amount in `currency` over the `available_amount` plus `reserved_amount` that is provided as credit
                            type: integer
                      owner:
                        description: The owner of the workspace
                        type: object
                        properties:
                          full_name:
                            description: The full name of the owner of the Workspace
                            type: string
                          email:
                            description: The email address of the owner of the Workspace
                            type: string
                            format: email


components:

  # Reusable parameters
  parameters:
    # Collections
    sortBy:
      name: sortby
      description: Identifies the field that the results will be sorted by
      in: query
      schema:
        type: string
    sortOrder:
      name: sortorder
      description: Identifies how the results will be sorted based on the `sortby` field.
      in: query
      schema:
        type: string
        enum:
          - 'asc'
          - 'desc'
        default: 'asc'
    pageNumber:
      name: page_number
      description: The page number being requested
      in: query
      schema:
        type: integer
        example: 10
        default: 1
        minimum: 1
    pageSize:
      name: page_size
      description: The number of items to be returned for the page being requested
      in: query
      schema:
        type: integer
        example: 10
        default: 10
        minimum: 1
        maximum: 100

    
        
